<div class="header-container"
     [class.left]="true">
    <div class="logo-containter">
        <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
        <div class="logo" (click)="goToHome()"><img src="../../../../assets/img/{{logo}}" alt=""
                                                    style="max-height: 50px;margin-right: 10px; margin-bottom: 5px;">CSA
        </div>
        <app-theme-switcher></app-theme-switcher>
    </div>
</div>

<nb-actions
    size="medium"
    class="header-container"
    [class.right]="true">
    <nb-action>
        <nb-user [menu]="userMenu" [picture]="user?.imgProfile ? 'upload/' + user?.imgProfile : null"
                 [name]="user?.name" [title]="user?.email"></nb-user>
    </nb-action>
    <nb-action class="control-item">
        <nb-search type="rotate-layout"
                   [placeholder]="'Pesquisar'"></nb-search>
    </nb-action>
</nb-actions>
